<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% load static %}
    <title>BLOG PAGE</title>

  </head>
  <body>
    <div class="container-sm" style="text-align:center; padding: 20px;">
      <h1>BLOG APP</h1>
      <h6>by SOURABH DEVLAL</h6>
      <br>
      <br>
      {% if user.is_authenticated %}
        <h1 style="  text-transform: uppercase;">Hello, {{user}}</h1>
        <h4>YOUR WRITTEN BLOGS : </h4>
      {% else %}
        <h1 style="  text-transform: uppercase;">Hello, {{user}}</h1>
      {% endif %}
    </div>
    <a href="{% url 'logout' %}" style="padding: 5px; margin: 0 0 0 150px;"><button class="btn btn-danger"> LOGOUT </button></a>
    <br><br>
    <a href="{% url 'home' %}" style="padding: 5px; margin: 0 0 0 150px;"><button class="btn btn-warning"> GO BACK </button></a>

    <div class="container-sm" style="border:0; text-decoration:none; outline:none text-align:center; padding: 20px;">
      <h2 style="  text-transform: uppercase;">{{content.post_title}}</h2>
      <h4>Written by {{content.post_author}}</h4>
      <h5>{{content.post_content|safe}}</h5>
        {% if content.post_image %}
        <img src="{{content.post_image.url}}" alt="Blog Image" class="img-thumbnail rounded float-left" style="width: 300px;">
        {% endif %}
      <h6>created on: {{content.creation_date}} {{content.pk}}</h6>
        <br>
        <button class="btn btn-primary btn-sm" id="comment_btn" onclick="commentToggle()">ADD NEW COMMENT</button>
<!--        comment form-->
        <div class="container-sm d-none" style="text-align:center; padding: 20px;" id="comment_id">
          <form method="POST" action="{% url 'comment_blog' content.pk %}">
            {% csrf_token %}
            <input type="text" name="body" class="form-control">
              <br>
            <input type="submit" class="btn btn-danger" value="SUBMIT/CREATE BLOG">
          </form>
        </div>
        <br>
        <br>
<!--comments section-->
      <b>Comments : </b>
      <div class="container-sm" style="border:0; text-decoration:none; outline:none text-align:center; padding: 20px;">
          {% for x in comment %}
          {% if x.is_parent %}
<!--        <table>-->
<!--          <thead>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>{{x.name}}</tr>-->
<!--          <tr>{{x.creation_date}}</tr>-->
<!--          <tr>{{x.body}}</tr>-->
<!--          </tbody>-->
<!--        </table>-->

          <p><strong>{{x.name}} - {{x.creation_date}} {{x.id}}</strong></p>
          <p><em>{{x.body}}</em></p>
          <button class="btn btn-primary btn-sm" id="reply_btn" onclick="commentReplyToggle('{{x.id}}')">reply to - {{x.name}}</button>
          <div class="container-sm d-none" style="padding: 20px 0;" id="comment_{{x.id}}">
              <form method="POST" action="{% url 'reply' content.pk x.id %}">
                {% csrf_token %}
                <input name="body" type="text">
                <input type="submit" class="btn btn-sm btn-primary" value="POST REPLY">
              </form>
              <hr>
          </div>
          <br>
          <br>
          <div class="container-sm" style="margin-left: 2rem;">
              {% for child_comment in x.children %}
              <p><em> Reply by  </em><strong> {{child_comment.name}}</strong></p>
              <p><em>{{child_comment.body}}</em></p>
              <p><em>{{child_comment.creation_date}}</em></p>
              <hr>
              {% endfor %}
          </div>
          {% endif %}
          {% endfor %}

      </div>

    </div>


    <script type="text/javascript" src="{% static 'js/social.js' %}"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>